@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p><a asp-controller="Home" asp-action="ScorersSeriaA">Лучшие бомбардиры серии а</a></p>
    <p><a asp-controller="Home" asp-action="ScorersEPL">Лучшие бомбардиры английской премьер лиги</a></p>
</div>
